/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #d1fffd;
  font-size: 16pt;
}
.switcher {
  display: none;
}
p {
  text-indent: 20pt;
  margin-bottom: .5rem;
}
label {
  cursor: pointer;
  display: inline-block; /* ie10 hack */
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

#oldbrowser {
  background-color: #ffff99;
  font-size: .7rem;
  color: #484848;
  text-align: center;
  font-family: monospace, sans-serif;
  padding: 10px;
}

/* main background line */
#bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: -100px;
  left: 0;
  background-color: #0097a9;
  background: linear-gradient(to bottom right, #008395, #00d8e9) #0097a9;
}

/* page grid styles */
#grid {
  position: absolute;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  height: 100%; /* iee hack */
  width: 100%;
}
.sidespace {
  flex-grow: 1;
}
#maincolumn {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 800px;
  flex-shrink: 1; /* ie10 hack */
}
#head {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px;
}
#content {
  padding-bottom: 50px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#footer {
  height: 1.4rem;
  line-height: 1.4rem;
  margin-top: -1.4rem;
  border-color: #7de6ff;
  border-style: solid;
  border-width: 2px 1px 0 1px;
  border-radius: 4px 4px 0 0;
  font-size: .7rem;
  text-align: center;
}

/* header block */
#header {
  height: 20px;
  position: relative;
}
.languages {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.lang-sw-icon {
  width: 18px;
  height: 12px;
  margin-left: 25px;
  opacity: 0.3;
}
.lang-sw-icon-ru {
  background: url(../img/lang.png?1) no-repeat -36px 0;
}
.lang-sw-icon-en {
  background: url(../img/lang.png?1) no-repeat 0 0;
}
.lang-sw-icon-es {
  background: url(../img/lang.png?1) no-repeat -18px 0;
}
#lang-sw-ru:checked ~ * .lang-sw-icon-ru,
#lang-sw-en:checked ~ * .lang-sw-icon-en,
#lang-sw-es:checked ~ * .lang-sw-icon-es {
  opacity: 1;
}

/* mobile menu */
.mobmenu-sw {
  position: absolute;
  right: 0;
  top: 5px;
  height: 32px;
  width: 32px;
  background: url(../img/menu.svg?1) center no-repeat;
  background-size: contain;
  display: none;
  opacity: .5;
}
.mobmenu {
  display: flex;
  position: absolute;
  background-color: #008395;
  min-width: 200px;
  flex-direction: column;
  padding: 5px;
  right: 0;
  transition: transform ease-out .3s;
  transform: translateY(-110%);
  box-shadow: 1px 1px 5px -1px black;
  z-index: 1;
}
.mobmenu-sw:hover ~ .mobmenu {
  transform: translateY(0);
  transition: transform ease-in .5s .3s;
}
.mobmenu-item {
  padding: 5px 5px;
}
.mobmenu-item:not(:last-child) {
  border-bottom: 1px solid #66b9e5;
}
.lang-sw-link::before {
  content: '';
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 10px;
  margin-right: 10px;
}
#lang-sw-ru:checked ~ * .lang-sw-link-ru::before,
#lang-sw-en:checked ~ * .lang-sw-link-en::before,
#lang-sw-es:checked ~ * .lang-sw-link-es::before {
  background-color: #d1fffd;
}

/* welcome block */
#info {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#face {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-image: url(../img/face.jpg?1);
  background-repeat: no-repeat;
  background-size: contain;
}
#welcome {
  font-family: "Comic Sans MS", sans-serif;
  text-align: right;
  font-size: 1.4rem;
  flex-grow: 1;
  font-weight: 400;
  white-space: pre-wrap;
}

/* page menu block */
#pagemenu {
  height: 50px;
  text-align: center;
  padding-left: 200px;
}
.menu {
  display: flex;
  line-height: 30px;
  border: 1px solid #66b9e5;
  border-radius: 30px;
  overflow: hidden;
  border-top-width: 2px;
}
.menu > label {
  border-right: 1px solid #66b9e5;
  padding: 0px 15px;
  flex-grow: 1;
}
.menu > label:last-child {
  border-right: none;
}
#pageSwitcherAbout:checked ~ * label[for=pageSwitcherAbout],
#pageSwitcherEvo:checked ~ * label[for=pageSwitcherEvo],
#pageSwitcherSkills:checked ~ * label[for=pageSwitcherSkills],
#pageSwitcherPhotos:checked ~ * label[for=pageSwitcherPhotos] {
  background-color: rgb(0, 148, 169);
}

/*------------------ page articles ------------------- */
.article {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #0090a3;
  border-radius: 3px;
}
#pageSwitcherAbout:checked ~ .article-about,
#pageSwitcherEvo:checked ~ .article-evo,
#pageSwitcherSkills:checked ~ .article-skills,
#pageSwitcherPhotos:checked ~ .article-photos {
  opacity: 1;
  height: auto;
  visibility: visible;
  transition: opacity 1s;
  padding: 10px 5px 5px;
  margin-top: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
