.photo-description {
  max-height: 2.4rem;
  height: 2.4rem;
  line-height: 1.2rem;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: .9rem;
  border-bottom: 1px solid #008394;
  white-space: pre-line;
}

.photo-slider {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  background-color: #0090a3;
}

.photo-slider-cover {
  flex-grow: 1;
  position: relative;
  margin: 5px 0;
}

.photo-slider-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain, 20%;
  background-position: center;
  position: absolute;
}
.photos-full-mode-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-slider-image-sw {
  min-width: 50px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.photo-slider-image-sw-left {
  left: 0;
}
.photo-slider-image-sw-right {
  right: 0;
}
.photo-slider-image-sw-left::before {
  background: url(../img/arrows.png?1) no-repeat 0 0;
}
.photo-slider-image-sw-right::before {
  background: url(../img/arrows.png?1) no-repeat -50px 0;
}
.photo-slider-image-sw-link {
  display: none;
  flex-grow: 1;
}
.photo-slider-image-sw-link::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: .3;
}

#photos-image-sw-1:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-2],
#photos-image-sw-2:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-1],  #photos-image-sw-2:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-3],
#photos-image-sw-3:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-2],  #photos-image-sw-3:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-4],
#photos-image-sw-4:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-3],  #photos-image-sw-4:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-5],
#photos-image-sw-5:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-4],  #photos-image-sw-5:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-6],
#photos-image-sw-6:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-5],  #photos-image-sw-6:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-7],
#photos-image-sw-7:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-6],  #photos-image-sw-7:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-8],
#photos-image-sw-8:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-7],  #photos-image-sw-8:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-9],
#photos-image-sw-9:checked  ~ * label.photo-slider-image-sw-left[for=photos-image-sw-8],  #photos-image-sw-9:checked  ~ * label.photo-slider-image-sw-right[for=photos-image-sw-10],
#photos-image-sw-10:checked ~ * label.photo-slider-image-sw-left[for=photos-image-sw-9],  #photos-image-sw-10:checked ~ * label.photo-slider-image-sw-right[for=photos-image-sw-11],
#photos-image-sw-11:checked ~ * label.photo-slider-image-sw-left[for=photos-image-sw-10], #photos-image-sw-11:checked ~ * label.photo-slider-image-sw-right[for=photos-image-sw-12],
#photos-image-sw-12:checked ~ * label.photo-slider-image-sw-left[for=photos-image-sw-11], #photos-image-sw-12:checked ~ * label.photo-slider-image-sw-right[for=photos-image-sw-13],
#photos-image-sw-13:checked ~ * label.photo-slider-image-sw-left[for=photos-image-sw-12]
{
  display: block;
}
