#photos-full-mode-sw:checked ~ .photo-slider {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#photos-image-sw-1:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_110.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-2:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_120.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-3:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_130.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-4:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_140.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-5:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_150.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-6:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_160.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-7:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_170.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-8:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_210.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-9:checked ~ * .photo-slider-image  {background-image: url(../img/photos/small/IMG_220.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-10:checked ~ * .photo-slider-image {background-image: url(../img/photos/small/IMG_310.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-11:checked ~ * .photo-slider-image {background-image: url(../img/photos/small/IMG_320.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-12:checked ~ * .photo-slider-image {background-image: url(../img/photos/small/IMG_330.jpg?1), url(../img/loading.svg?1)}
#photos-image-sw-13:checked ~ * .photo-slider-image {background-image: url(../img/photos/small/IMG_410.jpg?1), url(../img/loading.svg?1)}
