.article-skills-menu {
  display: flex;
  justify-content: center;
  font-size: .6rem;
  margin-bottom: 30px;
}
.article-skills-menu-link {
  flex-grow: 1;
  text-align: center;
  opacity: .6;
}
#sk1:checked ~ * > .article-skills-menu-link[for=sk1],
#sk2:checked ~ * > .article-skills-menu-link[for=sk2],
#sk3:checked ~ * > .article-skills-menu-link[for=sk3],
#sk4:checked ~ * > .article-skills-menu-link[for=sk4],
#sk5:checked ~ * > .article-skills-menu-link[for=sk5] {
  opacity: 1;
}
.article-skills-menu-link:hover {
  text-decoration: underline;
}

.article-skills-menu-spacer::after {
  content: '/';
}

.skill-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-box-item {
  font-family: monospace;
  font-size: .8rem;
  border: 0 solid #66b9e5;
  border-radius: 4px;
  flex-grow: 1;

  visibility: hidden;
  min-width: 0;
  max-width: 0;
  animation: hide 1s;
  height: 2.2rem;
}
.skill-box-item::after {
  content: '';
  display: block;
  height: 6px;
  width: 0;
  background: #05ceeb;
  margin-top: 4px;
  transition: width ease .5s;
}

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    min-width: 180px;
    max-width: 400px;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-color: rgb(255, 183, 80);
  }
  100% {
    opacity: 0;
    visibility: visible;
    min-width: 180px;
    max-width: 400px;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-color: rgb(255, 183, 80);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    border-color: rgb(157, 216, 145);
  }
  100% {
    opacity: 1;
    border-color: rgb(157, 216, 145);
  }
}

.skill-html, .skill-css, .skill-js{
  animation: show 1s;
  visibility: visible;
  min-width: 180px;
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
}


#sk1:checked ~ * .skill-asp,
#sk1:checked ~ * .skill-vb {
  animation: show 1s;
  visibility: visible;
  min-width: 180px;
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
}
#sk1:checked ~ * .skill-html::after {width: 40%;}
#sk1:checked ~ * .skill-css::after {width: 30%;}
#sk1:checked ~ * .skill-asp::after {width: 60%;}
#sk1:checked ~ * .skill-js::after {width: 40%;}
#sk1:checked ~ * .skill-vb::after {width: 70%;}

#sk2:checked ~ * .skill-vb,
#sk2:checked ~ * .skill-fla,
#sk2:checked ~ * .skill-d6 {
  animation: show 1s;
  visibility: visible;
  min-width: 180px;
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
}
#sk2:checked ~ * .skill-html::after {width: 70%;}
#sk2:checked ~ * .skill-css::after {width: 70%;}
#sk2:checked ~ * .skill-asp::after {width: 60%;}
#sk2:checked ~ * .skill-js::after {width: 60%;}
#sk2:checked ~ * .skill-vb::after {width: 100%;}
#sk2:checked ~ * .skill-fla::after {width: 90%;}
#sk2:checked ~ * .skill-d6::after {width: 80%;}

#sk3:checked ~ * .skill-xml,
#sk3:checked ~ * .skill-jq,
#sk3:checked ~ * .skill-plsql,
#sk3:checked ~ * .skill-cc {
  animation: show 1s;
  visibility: visible;
  min-width: 180px;
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
}
#sk3:checked ~ * .skill-html::after {width: 100%;}
#sk3:checked ~ * .skill-css::after {width: 90%;}
#sk3:checked ~ * .skill-js::after {width: 80%;}
#sk3:checked ~ * .skill-vb::after {width: 100%;}
#sk3:checked ~ * .skill-fla::after {width: 90%;}
#sk3:checked ~ * .skill-d6::after {width: 80%;}
#sk3:checked ~ * .skill-xml::after {width: 40%;}
#sk3:checked ~ * .skill-jq::after {width: 50%;}
#sk3:checked ~ * .skill-plsql::after {width: 30%;}
#sk3:checked ~ * .skill-cc::after {width: 70%;}

#sk4:checked ~ * .skill-xml,
#sk4:checked ~ * .skill-jq,
#sk4:checked ~ * .skill-plsql,
#sk4:checked ~ * .skill-cc,
#sk4:checked ~ * .skill-objc,
#sk4:checked ~ * .skill-ios,
#sk4:checked ~ * .skill-sf,
#sk4:checked ~ * .skill-mvn,
#sk4:checked ~ * .skill-junit,
#sk4:checked ~ * .skill-rest,
#sk4:checked ~ * .skill-git,
#sk4:checked ~ * .skill-java {
  animation: show 1s;
  visibility: visible;
  min-width: 180px;
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
}
#sk4:checked ~ * .skill-html::after {width: 100%;}
#sk4:checked ~ * .skill-css::after {width: 90%;}
#sk4:checked ~ * .skill-js::after {width: 100%;}
#sk4:checked ~ * .skill-xml::after {width: 80%;}
#sk4:checked ~ * .skill-jq::after {width: 90%;}
#sk4:checked ~ * .skill-plsql::after {width: 60%;}
#sk4:checked ~ * .skill-cc::after {width: 70%;}
#sk4:checked ~ * .skill-objc::after {width: 60%;}
#sk4:checked ~ * .skill-ios::after {width: 60%;}
#sk4:checked ~ * .skill-sf::after {width: 20%;}
#sk4:checked ~ * .skill-mvn::after {width: 20%;}
#sk4:checked ~ * .skill-junit::after {width: 10%;}
#sk4:checked ~ * .skill-rest::after {width: 60%;}
#sk4:checked ~ * .skill-git::after {width: 20%;}
#sk4:checked ~ * .skill-java::after {width: 10%;}

#sk5:checked ~ * .skill-jq,
#sk5:checked ~ * .skill-plsql,
#sk5:checked ~ * .skill-objc,
#sk5:checked ~ * .skill-ios,
#sk5:checked ~ * .skill-sf,
#sk5:checked ~ * .skill-mvn,
#sk5:checked ~ * .skill-junit,
#sk5:checked ~ * .skill-rest,
#sk5:checked ~ * .skill-git,
#sk5:checked ~ * .skill-java,
#sk5:checked ~ * .skill-tc,
#sk5:checked ~ * .skill-jira,
#sk5:checked ~ * .skill-sonar,
#sk5:checked ~ * .skill-jsm,
#sk5:checked ~ * .skill-tdd,
#sk5:checked ~ * .skill-bdd {
  animation: show 1s;
  visibility: visible;
  min-width: 180px;
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border-width: 1px;
}
#sk5:checked ~ * .skill-html::after {width: 80%;}
#sk5:checked ~ * .skill-css::after {width: 95%;}
#sk5:checked ~ * .skill-js::after {width: 80%;}
#sk5:checked ~ * .skill-xml::after {width: 80%;}
#sk5:checked ~ * .skill-jq::after {width: 90%;}
#sk5:checked ~ * .skill-plsql::after {width: 70%;}
#sk5:checked ~ * .skill-cc::after {width: 70%;}
#sk5:checked ~ * .skill-objc::after {width: 50%;}
#sk5:checked ~ * .skill-ios::after {width: 70%;}
#sk5:checked ~ * .skill-sf::after {width: 70%;}
#sk5:checked ~ * .skill-mvn::after {width: 80%;}
#sk5:checked ~ * .skill-junit::after {width: 40%;}
#sk5:checked ~ * .skill-rest::after {width: 60%;}
#sk5:checked ~ * .skill-git::after {width: 90%;}
#sk5:checked ~ * .skill-java::after {width: 60%;}
#sk5:checked ~ * .skill-tc::after {width: 70%;}
#sk5:checked ~ * .skill-jira::after {width: 80%;}
#sk5:checked ~ * .skill-sonar::after {width: 70%;}
#sk5:checked ~ * .skill-jsm::after {width: 90%;}
#sk5:checked ~ * .skill-tdd::after {width: 90%;}
#sk5:checked ~ * .skill-bdd::after {width: 90%;}
